<!-- Yandex.Metrika counter -->
<script type="text/javascript">
  (function(d, w, c){
    (w[c] = w[c] || []).push(function(){
      try{
        w.yaCounter28914540 = new Ya.Metrika({
          id: 28914540,
          webvisor: true,
          clickmap: true,
          trackLinks: true,
          accurateTrackBounce: true
        });
      } catch(e){
      }
    });

    var n = d.getElementsByTagName("script")[0],
    s = d.createElement("script"),
    f = function(){
      n.parentNode.insertBefore(s, n);
    };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if(w.opera == "[object Opera]"){
      d.addEventListener("DOMContentLoaded", f, false);
    } else{
      f();
    }
  })(document, window, "yandex_metrika_callbacks");
</script>
<noscript>
  <div><img src="//mc.yandex.ru/watch/28914540" style="position:absolute; left:-9999px;" alt=""/></div>
</noscript>
<!-- /Yandex.Metrika counter -->