.aside-menu {
  display: table-cell;
  width: 1%;
  text-align: center;

  &__link {

    &:hover,
    &:focus {
      background-color: transparent;
      color: $primary-color;
    }
  }
  
  &__icon {
    display: block;
    font-size: 30px;
  }  

}