/*!
 * Form auth
 */

.auth {
  width: 17em;
  margin: 2em auto;
  padding: .5em;
}

.auth__logo {
  display: block;
  width: 100%;
  margin-bottom: 5em;
}

.form-auth__icon {
  @extend .input-group-addon;
  padding: 0;
  padding-right: 10px;
  background-color: transparent;
  border-width: 0;
  border-radius: 0;
  font-size: 34px;
  color: #eee;
}

.form-auth__input {
  @extend .form-control;
  background-color: transparent;
  box-shadow: none;
  color: #eee;
  border: 0 solid transparent;
  border-bottom: 1px solid #fff;
  border-radius: 0;

  &:focus {
    outline-color: #fff;
    box-shadow: none;
    border-bottom-color: $primary-color;
  }
}

.form-auth__title {

}

.form-auth__button-login {
  @include button-variant(#fff, transparent, #fff);
  width: 100%;
  margin-top: 1.5em;
}