$bid-padding: .4em;

.bid {
  display: table;
  cursor: pointer;
  padding: $bid-padding 0;
  transition: background-color .3s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);

  &:hover,
  &:focus {
    background-color: rgba(255, 255, 255, 0.2);
  }

  &_selected {
    background-color: rgba(255, 255, 255, 0.5);

      .bid__type,
      .bid__price {
        color: #444;
      }

  }

  &_unselect {
    opacity: .5;

    &:hover,
    &:focus {
      opacity: 1;
    }

  }

  &_new {
    background-color: rgba(48, 195, 32, 0.2);
  }

  &_reserved {
    background-color: rgba(255, 179, 71, 0.35);
    cursor: default;
  }

  &__title {
    @extend .clearfix;
    font-size: 20px;
    margin-top: .5em;
  }

  &__date {
    display: table-cell;
    padding: 0 $bid-padding;
    text-align: center;
    vertical-align: middle;
    width: 1%;
    font-size: .8em;
    line-height: 1;
  }

  &__icon {
    display: table-cell;
    padding: 0 .1em;
    text-align: center;
    vertical-align: middle;
    width: 1%;
    font-size: 2.2em;
  }

  &__info {
    @extend .clearfix;
    display: table-cell;
    padding: 0 $bid-padding;
    width: 100%;
    position: relative;
    padding-top: 1.6em;
    vertical-align: bottom;
  }

  &__address {
    display: block;
    position: absolute;
    top: $bid-padding;
    left: $bid-padding;
    right: $bid-padding;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    border-bottom-width: 1px;
    border-bottom-style: dashed;
    font-size: .85em;
    line-height: 1.1;
  }

  &__type {
    float: left;
    font-size: 1.2em;
  }

  &__price {
    float: right;
    font-size: 1.2em;
  }

  &__option {
    padding: 0 .5em;
    border-bottom: 1px solid #999;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    min-height: 3em;
    min-width: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
}

.bid-option__icon {
  @extend .fa;
  @extend .fa-circle;
  @extend .fa-2x;
  margin-right: .3em;
}

.bid-additional {
  padding: .5em;
  outline: 1px dotted rgba(0, 0, 0, .2);
  margin-top: .7em;
  margin-bottom: .5em;

  &__title {
    @extend .clearfix;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
  }
}

.bid-additional-list {
  list-style: none;
  margin-left: 0;
  padding-left: 0;

  &__logo {
    margin-right: 10px;
  }

  &__item {
    display: flex;
    align-items: center;
  }
}

.bid-chat {
  @extend .bid-additional;

  &__title {
    @extend .bid-additional__title;
  }

  &__show-all {
    padding: .5em 0;
    font-size: .8em;
    text-align: center;
  }

  &__messages {

  }
  
  &__send {
    margin-top: 1em;
  }

  &__input {
    resize:none;
    background-color: transparent;
    color: #fff;
    transition: all .5s linear;

    &:focus {
      background-color: #fff;
      color: #555;
      height: 5em;
    }
  }

  &__btn-send {
    background-color: transparent;
    color: #eee;

    &:hover {
      color: #fff;
    }
  }
}

.bid-action {
  display: table;
  margin-top: .5em;

  &__title {
    display: table-cell;
    vertical-align: middle;
    width: 1%;
    font-size: .9em;
    line-height: 1;
  }

  &__sum {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    padding: 0 10px;
    width: 98%;
    font-size: 1.5em;
  }

  &__confirm {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    width: 1%;
  }
}

