.bids {

  &::after {
    content: " ";
    display: block;
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 100%;
    right: 0;
    z-index: 0;
    transition: bottom .3s linear;
  }

  &_search {
    z-index: 100;

    &::after {
      bottom: 0;
    }
  }

  &__header {
    @extend .clearfix;
    position: relative;
    z-index: 1;
  }

  &__stats {
    float: right;
    line-height: 2.6;
  }

  &__title {
    font-size: 24px;
    margin-bottom: .5em;
    margin-top: 0;

  }
  
  &__list {
    margin-top: 5px;
  }

  &__show-all {
    @include button-variant(#eee, transparent, #999);
    display: block;
    margin-top: 15px;
    width: 100%;
    text-align: center;
  }
}

.bids-search {
  @extend .input-group;
  border-bottom: 1px solid #aaa;
  z-index: 10;

  &__icon {
    @extend .input-group-addon;
    background-color: transparent;
    border-width: 0;
    color: #fff;
    vertical-align: top;
  }

  &__input {
    @extend .form-control;
    background-color: transparent;
    border-width: 0;
    color: #fff;

    &:focus {
      box-shadow: none;
    }
  }

  &__button {
    @extend .input-group-btn;
    background-color: transparent;
    border-width: 0;
    vertical-align: bottom;
    padding: 0;
  }
}