.btn_glass {
  @include button-variant(#eee, transparent, #eee);
  text-transform: uppercase;
}

.btn_ghost {
  @include button-variant(#eee, transparent, transparent);
  text-transform: uppercase;
}

.btn_expand {
  @extend .btn-link;
  @extend .btn-xs ;
  float: right;
}