.filter {
  
  &__popover {
    max-width: none;
    width: 600px;
  }

  &__popover-title {
    font-size: 16px;
  }

  &__popover-content {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  &__popover-map {
    position: relative;
  }

  &__popover-options {
    position: absolute;
    top: 0px;
    padding: 10px;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,.7);
  }
}