/*!
 * Footer
 **/

$footer-line-height:    2;
$footer-padding-top:    2em;
$footer-padding-bottom: 2em;

.footer {
  padding-top: $footer-padding-top;
  padding-bottom: $footer-padding-bottom;
}

.footer_bottom {
  margin-bottom: -($footer-line-height + $footer-padding-top + $footer-padding-bottom);
  padding-bottom: $footer-line-height + $footer-padding-top + $footer-padding-bottom;
}

.footer__breadcrumb {
  @extend .breadcrumb;
  display: inline;
  line-height: $footer-line-height;
  background-color: transparent;

  & > li + li:before {
    content: "|";
  }
}