/*!
 * Helper classes
 */

.full-height {
  height: 100%;
}

.visible-onfocus {

  &:focus .hiden-element {
    opacity: 1;
  }

  .hiden-element {
    opacity: 0;
  }
}

.visible-onhover {

  &:hover .hiden-element {
    opacity: 1;
  }

  .hiden-element {
    opacity: 0;
  }
}

.small {
  font-size: .8em;
}

.font_0-6em {
  font-size: .6em;
}

.font_0-7em {
  font-size: .7em;
}

.font_0-8em {
  font-size: .8em;
}

.font_0-9em {
  font-size: .9em;
}

.font_1-1em {
  font-size: 1.1em;
}

.font_1-2em {
  font-size: 1.2em;
}

.font_1-3em {
  font-size: 1.3em;
}

.font_1-4em {
  font-size: 1.4em;
}

.font_1-5em {
  font-size: 1.5em;
}

.font_1-6em {
  font-size: 1.6em;
}

.font_1-7em {
  font-size: 1.7em;
}

.font_1-8em {
  font-size: 1.8em;
}
.font_1-9em {
  font-size: 1.9em;
}

.font_2em {
  font-size: 2em;
}

.font_2-1em {
  font-size: 2.1em;
}

.font_2-2em {
  font-size: 2.2em;
}
.font_2-3em {
  font-size: 2.3em;
}

.font_2-4em {
  font-size: 2.4em;
}

.font_2-5em {
  font-size: 2.5em;
}

.font_2-6em {
  font-size: 2.6em;
}

.font_2-7em {
  font-size: 2.7em;
}

.font_2-8em {
  font-size: 2.8em;
}

.font_2-9em {
  font-size: 2.9em;
}

.font_3em {
  font-size: 3em;
}
.font_3-1em {
  font-size: 3.1em;
}

.font_3-2em {
  font-size: 3.2em;
}

.font_3-3em {
  font-size: 3.3em;
}

.font_3-4em {
  font-size: 3.4em;
}
.font_3-5em {
  font-size: 3.5em;
}

.font_3-6em {
  font-size: 3.6em;
}

.font_3-7em {
  font-size: 3.7em;
}

.font_3-8em {
  font-size: 3.8em;
}

.font_3-9em {
  font-size: 3.9em;
}

.font_4em {
  font-size: 4em;
}

.font_4-1em {
  font-size: 4.1em;
}

.font_4-2em {
  font-size: 4.2em;
}
.font_4-3em {
  font-size: 4.3em;
}

.font_4-4em {
  font-size: 4.4em;
}

.font_4-5em {
  font-size: 4.5em;
}

.font_4-6em {
  font-size: 4.6em;
}
.font_4-7em {
  font-size: 4.7em;
}

.font_4-8em {
  font-size: 4.8em;
}

.font_4-9em {
  font-size: 4.9em;
}

.font_5em {
  font-size: 5em;
}

.font_5-1em {
  font-size: 5.1em;
}

.font_5-2em {
  font-size: 5.2em;
}

.font_5-3em {
  font-size: 5.3em;
}

.font_5-4em {
  font-size: 5.4em;
}
.font_5-5em {
  font-size: 5.5em;
}

.font_5-6em {
  font-size: 5.6em;
}

.font_5-7em {
  font-size: 5.7em;
}

.font_5-8em {
  font-size: 5.8em;
}
.font_5-9em {
  font-size: 5.9em;
}

.font_6em {
  font-size: 6em;
}

.state_hide {
  display: none;
}

.state_show_block {
  display: block;
}

.state_show_inline-block {
  display: inline-block;
}

.state_show_inline {
  display: inline;
}

.state_invisible {
  visibility: hidden;
}

.state_visible {
  visibility: visible;
}

.list {

  &__item {
    padding-top: .3em;
    padding-bottom: .3em;
    border-bottom: 1px solid #999;
  }
}