@font-face {
  font-family: 'FontIcon';
  src: url('../fonts/FontIcon.eot?8pafjv');
  src: url('../fonts/FontIcon.eot?#iefix8pafjv') format('embedded-opentype'),
         url('../fonts/FontIcon.ttf?8pafjv') format('truetype'),
         url('../fonts/FontIcon.woff?8pafjv') format('woff'),
         url('../fonts/FontIcon.svg?8pafjv#FontIcon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  font-family: 'FontIcon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  vertical-align: middle;
  font-size: 1.8em;
  margin-bottom: -2px;
  margin-top: -2px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-additional-commisar:before {
  content: "\e600";
}

.icon-additional-docs:before {
  content: "\e601";
}

.icon-arrow-right:before {
  content: "\e602";
}

.icon-bid-type:before {
  content: "\e603";
}

.icon-chat:before {
  content: "\e604";
}

.icon-chevron-down:before {
  content: "\e605";
}

.icon-chevron-up:before {
  content: "\e606";
}

.icon-destination:before {
  content: "\e607";
}

.icon-edit:before {
  content: "\e608";
}

.icon-help:before {
  content: "\e609";
}

.icon-key:before {
  content: "\e60a";
}

.icon-lock:before {
  content: "\e60b";
}

.icon-logo-horizontal:before {
  content: "\e60c";
}

.icon-logout:before {
  content: "\e60d";
}

.icon-map:before {
  content: "\e60e";
}

.icon-discard:before {
  content: "\e60f";
}

.icon-messages-new:before {
  content: "\e610";
}

.icon-messages-support:before {
  content: "\e611";
}

.icon-messages:before {
  content: "\e612";
}

.icon-option-car-type:before {
  content: "\e613";
}

.icon-option-evacuator:before {
  content: "\e614";
}

.icon-option-phone:before {
  content: "\e615";
}

.icon-option-user:before {
  content: "\e616";
}

.icon-pin:before {
  content: "\e617";
}

.icon-plus:before {
  content: "\e619";
}

.icon-search:before {
  content: "\e61a";
}

.icon-send:before {
  content: "\e61b";
}

.icon-success:before {
  content: "\e61c";
}

.icon-user:before {
  content: "\e61d";
}
