/*!
 * Links styled
 */

.link_underline {
  text-decoration: none;
  border-bottom-style: solid;
  border-bottom-width: 1px;  
  // text-shadow: 5px 0 0 #fff, -5px 0 0 #fff;
  // background-image: linear-gradient( to right, currentColor 0%, currentColor 100% );
  // background-repeat: repeat-x;
  // background-position: 0 95%;
  // background-size: 100% .21em;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

// Dashed
.link_dashed {
  border-bottom-style: dashed;
  border-bottom-width: 1px;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}

// Dotted
.link_dotted {
  border-bottom-style: dotted;
  border-bottom-width: 1px;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}