.message {
  @extend .media;

  &__time {
    font-size: .85em;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    float: right;
    margin-left: .8em;
    cursor: pointer;
  }

  &__username {
    @extend .media-heading;
    font-size: .8em;
  }

  &__userpic {
    @extend .media-object;
    @extend .img-circle;
  }
}