.search-block {

}

.search-result {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  padding: 15px;
  z-index: 1000;

  &_show {
    display: block;
  }

  &__selectbox {
    border-color: transparent;
    box-shadow: none;
    border-radius: 0;
    background-color: transparent;
    color: #eee;
    border-bottom: 1px solid #999;
  }

  &__tag {
    font-size: 1em;
    outline: 1px dashed #999;
    padding: 2px 6px;
    white-space: nowrap;
    display: inline-block;
    margin-bottom: 5px;
  }
}

.bootstrap-tagsinput {
  background-color: transparent;
  border-width: 0;
  box-shadow: none;
  color: #eee;
  vertical-align: top;
  border-radius: 0;
  width: 100%;
}