@font-face {
    font-family: "false";
    src: url("../fonts/FontIcon.eot");
    src: url("../fonts/FontIcon.eot?#iefix") format("embedded-opentype"),
         url("../fonts/FontIcon.woff") format("woff"),
         url("../fonts/FontIcon.ttf") format("truetype"),
         url("../fonts/FontIcon.svg#false") format("svg");
    font-weight: false;
    font-style: false;
}
@font-face {
    font-family: "ProximaNova";
    src: url("../fonts/ProximaNova-Reg.eot");
    src: url("../fonts/ProximaNova-Reg.eot?#iefix") format("embedded-opentype"),
         url("../fonts/ProximaNova-Reg.woff") format("woff"),
         url("../fonts/ProximaNova-Reg.ttf") format("truetype"),
         url("../fonts/ProximaNova-Reg.svg#ProximaNova") format("svg");
    font-weight: normal;
    font-style: normal;
}