/*!
 * Variables
 */

$primary-color: #f59c00;

// Bootstrap variables

@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables";

$font-family-sans-serif: "ProximaNova", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-base:        $font-family-sans-serif;

$gray-base:             #000;
$gray-darker:           lighten($gray-base, 13.5%); // #222
$gray-dark:             lighten($gray-base, 20%);   // #333
$gray:                  lighten($gray-base, 33.5%); // #555
$gray-light:            lighten($gray-base, 46.7%); // #777
$gray-lighter:          lighten($gray-base, 93.5%); // #eee

$brand-primary:         $primary-color;
$brand-success:         #5cb85c;
$brand-info:            #5bc0de;
$brand-warning:         #f0ad4e;
$brand-danger:          #d9534f;

$font-size-base:        12px;

$body-bg:               #222;
$text-color:            $gray-lighter;
$link-color:            $gray-lighter;
$link-hover-color:      darken($link-color, 15%);

$container-lg:          994px;
$border-radius-base:    0;

$legend-color:          $gray-lighter;

$nav-link-padding:      10px 8px;
$nav-link-hover-bg:     transparent;

$nav-pills-active-link-hover-bg:            #333;

$navbar-inverse-bg:                         transparent;
$navbar-inverse-border:                     transparent;
$navbar-inverse-link-active-bg:             transparent;


$input-group-addon-bg:                      transparent;
$input-group-addon-border-color:            transparent;

$popover-bg:            #222;
$popover-title-bg:      #111;
$popover-arrow-color:   #222;

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

/*!
 * Rewrite Twitter Bootstrap
 */

.media::after {
  content: " ";
  display: block;
  width: 50%;
  height: 1px;
  margin: .5em auto 0;
  background-color: #555;
}

/*!
 * Custom styles
 */

// Scaffolding

// * {
//   -webkit-user-select: none;
//      -moz-user-select: none;
//           user-select: none;
//   cursor: default;
// }

.main {
  min-height: 100%;
  width: 100%;
  background-color: #444;
  background-image: url(../images/style/background.jpg);
  background-position: 50% 50%;
  background-attachment: fixed;
  background-size: cover;

  &_auth {
    padding-top: 2em;
  }
}

@import "components/helpers";
@import "components/links";
@import "components/buttons";
@import "components/icons";
@import "components/forms";
@import "components/panels";
@import "components/tag";
@import "components/auth";
@import "components/footer";

@import "components/dashboard";
@import "components/aside";
@import "components/base";

@import "components/bids";
@import "components/bid";

@import "components/search-block";
@import "components/filter";

@import "components/message";