@font-face {
    font-family: "false";
    src: url("../fonts/FontIcon.eot");
    src: url("../fonts/FontIcon.eot?#iefix") format("embedded-opentype"),
         url("../fonts/FontIcon.woff") format("woff"),
         url("../fonts/FontIcon.ttf") format("truetype"),
         url("../fonts/FontIcon.svg#false") format("svg");
    font-weight: false;
    font-style: false;
}