<!-- Open Graph data -->
<meta property="og:title" content="<!-- @echo config.projectTitle -->">
<meta property="og:type" content="website">
<meta property="og:url" content="<!-- @echo homepage -->">
<meta property="og:description" content="<!-- @echo description -->">