<div class="bid" tabindex="0">
  <div class="bid__date">
    08:55 19.08
  </div>
  <div class="bid__icon">
    <i class="icon icon-bid-type"></i>
  </div>
  <div class="bid__info">
    <address class="bid__address" title="12-я Красноармейская ул., 32 — ул. Академика Константинова, 45">12-я Красноармейская ул., 32 — ул. Академика Константинова, 45</address>
    <div class="bid__type">Эвакуация</div>
    <div class="bid__price">1200 <i class="fa fa-rub"></i></div>
  </div>
</div>