<div class="browserupgrade">
  <div class="container">
    <h3>:(</h3>
    <p class="lead">Вы используете <strong>устаревший</strong> браузер</p>
    <p>Пожалуйста, <a href="//browsehappy.com/" class="link link_dotted" target="_blank">обновите ваш браузер</a>, чтобы в полной мере насладиться всеми клёвыми штуками, которые мы для вас приготовили.</p>
  </div>
</div>