<div class="container">
  © 2015 «СПАРКС». Все права защищены.
  <ul class="footer__breadcrumb">
<!-- 
    <li>
      <a href="#" class="link link_underline">Мобильная версия</a>
    </li>
 -->
    <li>
      <a href="#" class="link link_underline">Договор оферты</a>
    </li>
  </ul>
</div>