<!-- bower:js -->
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/bootstrap-tagsinput/src/bootstrap-tagsinput.js"></script>
<script src="/bower_components/svg4everybody/dist/svg4everybody.js"></script>
<script src="/bower_components/svg4everybody/dist/svg4everybody.legacy.js"></script>
<script src="/bower_components/typeahead.js/dist/typeahead.bundle.js"></script>
<!-- endbower -->